In [11]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [10]:
li = ["abc", 34, 4.34, 23]

In [13]:
st = "Hello World"

In [15]:
st = 'Hello World'

In [17]:
st = """This is a multi-line string that uses triple quotes."""

In [21]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [19]:
tu[1] # Second item in the tuple.

'abc'

In [20]:
li = ["abc", 34, 4.34, 23]

In [22]:
li[1] # Second item in the list.

34

In [23]:
st = "Hello World"

In [24]:
st[1] # Second character in string.

'e'

In [25]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [26]:
t[1]

'abc'

In [27]:
t[-3]

4.56

In [28]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [30]:
t[1:4]

('abc', 4.56, (2, 3))

In [31]:
t[1:-1]

('abc', 4.56, (2, 3))

In [32]:
t[1:-1:2]

('abc', (2, 3))

In [33]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [34]:
t[:2]

(23, 'abc')

In [35]:
t[2:]

(4.56, (2, 3), 'def')

In [7]:
t[:]

[1, 2, 4, 5]

In [8]:
list2 = list1# 2 names refer to 1 ref
# Changing one affects both

NameError: name 'list1' is not defined

In [9]:
list2 = list1[:] # Two independent copies, two refs

NameError: name 'list1' is not defined

In [3]:
t = [1, 2, 4, 5]

In [4]:
3 in t

False

In [5]:
4 in t

True

In [6]:
4 not in t

False

In [48]:
a = 'abcde'

In [49]:
'c' in a

True

In [50]:
'cd' in a

True

In [51]:
'ac' in a

False

In [52]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [53]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
"Hello" + " " + "World"

'Hello World'