In [4]:
import numpy as np
import cv2
# Load an color image in grayscale
img = cv2.imread('messi5.jpg',0)

In [5]:
cv2.imshow('image',img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [11]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [10]:
li = ["abc", 34, 4.34, 23]

In [13]:
st = "Hello World"

In [15]:
st = 'Hello World'

In [17]:
st = """This is a multi-line string that uses triple quotes."""

In [21]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [19]:
tu[1] # Second item in the tuple.

'abc'

In [20]:
li = ["abc", 34, 4.34, 23]

In [22]:
li[1] # Second item in the list.

34

In [23]:
st = "Hello World"

In [24]:
st[1] # Second character in string.

'e'

In [25]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [26]:
>>> t[1]

'abc'

In [27]:
>>> t[-3]

4.56

In [28]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [30]:
t[1:4]

('abc', 4.56, (2, 3))

In [31]:
t[1:-1]

('abc', 4.56, (2, 3))

In [32]:
t[1:-1:2]

('abc', (2, 3))

In [33]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [34]:
t[:2]

(23, 'abc')

In [35]:
t[2:]

(4.56, (2, 3), 'def')

In [36]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [60]:
list2 = list1# 2 names refer to 1 ref
# Changing one affects both

NameError: name 'list1' is not defined

In [43]:
list2 = list1[:] # Two independent copies, two refs

NameError: name 'list1' is not defined

In [44]:
t = [1, 2, 4, 5]

In [45]:
>>> 3 in t

False

In [46]:
>>> 4 in t

True

In [47]:
>>> 4 not in t

False

In [48]:
a = 'abcde'

In [49]:
'c' in a

True

In [50]:
'cd' in a

True

In [51]:
'ac' in a

False

In [52]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [53]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
"Hello" + " " + "World"

'Hello World'

In [57]:
li = ['abc', 23, 4.34, 23]

In [58]:
li[1] = 45

In [59]:
li

['abc', 45, 4.34, 23]

In [62]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [66]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

In [68]:
t = (23, 'abc', 3.14, (2,3), 'def')

In [69]:
li = [1, 11, 3, 4, 5]

In [71]:
li.append('a') # Note the method syntax

In [72]:
li

[1, 11, 3, 4, 5, 'a']

In [74]:
li.insert(2, 'i')

In [75]:
li

[1, 11, 'i', 3, 4, 5, 'a']

In [76]:
li.extend([9, 8, 7])

In [77]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7]

In [78]:
li.append([10, 11, 12])

In [79]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7, [10, 11, 12]]

In [81]:
li = ['a', 'b', 'c', 'b']

In [82]:
li.index('b') # index of first occurrence*

1

In [84]:
li.count('b') # number of occurrences

2

In [85]:
li.remove('b') # remove first occurrence

In [86]:
li

['a', 'c', 'b']

In [87]:
li = [5, 2, 6, 8]

In [88]:
li.reverse() # reverse the list *in place*

In [89]:
li

[8, 6, 2, 5]

In [90]:
li.sort() # sort the list *in place*

In [91]:
li

[2, 5, 6, 8]

In [92]:
li = list(tu)

In [93]:
tu = tuple(li)